PORT=8082
CLIENT_URL=http://localhost:8081
JWT_SECRET=your_jwt_secret_here
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=false
GMAIL_APP_MAIL=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password
STRIPE_SECRET_KEY=your_stripe_secret_key
